body {
    background-color:   rgba(235,233,249,1);

}

.navbar-dark {
    background-color: #000000;
    padding: 0;
}

.navbar-brand {
    margin-left: 20px;
    font-size: 20px;
}

.nav-link {
    font-size: 15px;
}

#navigation .active {
    background-color: #ffffff;
    color: #000000;
}

#navigation .nav-link:hover {
    background-color: #000080;
    color: #ffffff;
}

.container {
    margin-top: 50px;
}

table {
    color: green;
    text-align: center;
}
tr:nth-child(odd){
    color: black;
    font-size: 18px;
    text-align: center;   
}
tr:nth-child(even){
    color: white;
    font-size: 18px;
    text-align: center;   
}

tr:hover {
    background-color: rgba(0, 128, 0, 0.9);
}